DB_HOST=your_host_here
DB_USER=your_user_here
DB_PASSWORD=your_password_here
DB_NAME=your_db_name_here

MAIL_USERNAME=your_email_here@gmail.com
MAIL_PASSWORD=your_mail_app_password_here
SECRET_KEY=your_secret_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
SERPER_API_KEY=your_serper_api_key_here
